# Godot 4+ specific ignores
.godot/
build/
/android/

# Ignoring .tmp files
**/.tmp

# Reinclude the global_script_class_cache.cfg
!/.godot/global_script_class_cache.cfg

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
